.div1{
    margin-left: 150px;
    top:300px;
    height:500px;
    background-image:url("num_img.jpg");
    background-repeat:no-repeat;
     width:80%;
  
    background-size:100%;
    
    
}/*
body{
    background-image:url("num_img.jpg");
    background-repeat:no-repeat;
     width:90%;
     height:80%;
    background-size:100%;
}*/
.btn1{
    margin-left: 200px;
    border-radius: 32px;
    border-color: black;
    background-color: green;
    width:120px;
    height:40px;
    top:10px;
}

.btn3{
    margin-left: 100px;
    border-radius: 32px;
    border-color: black;
    background-color: red;
    width:120px;
    height:40px;
    top:400px;
}
.btn2{
    margin-left: 100px;
    border-radius: 32px;
    border-color: black;
    background-color:blue;
    width:120px;
    height:40px;
    top:400px;
}
h3{
    position:absolute;
    top:220px;
    left:600px;
    margin-top :50px;
}
.inner
{
    position:absolute;
    top:360px;
    left:400px;
}
.lab
{
    position:fixed;
    top:320px;
    left:730px;
    border-width:4px;
    border-top-color: black;
}

.score
{
    position:absolute;
    top:75px;
    height:120px;
    left:700px;
    color:brown;
}
.sc{
    position:absolute;
    top:.2px;width:100px;
    height:25px;
    left:70px;
    color:balck;
  
    background-color: darksalmon;
    border-width: 2px;
}
.in{
    position:absolute;
    top:.01px;
    width:100px;
    left:270px;

}
.tc
{
    position:absolute;
    top:.01px;
    width:80px;
    left:100px;
    background-color:grey;
}
